.banner {
  margin-bottom: 50px;
}

.banner.add {
  margin: 0px;
}

.banner-container {
  position: relative;
}

.banner-header {
  position: absolute;
  top: 16px;
  right: 32px;
  width: 500px;
  height: 50px;
  padding: 8px;
  background-color: transparent;
  text-shadow: 2px 2px 4px #000000;
  font-size: 14px;
  color: rgb(200,200,200);
  text-align: right;
  a {
    color: rgb(220,220,220);
  }
}

.banner-text-container {
  position: absolute;
  top: 20%;
  width: 100%;
  padding: 0px 50px;
}

.img-banner {
  object-fit: cover;
  vertical-align: bottom;
  height: 100% !important;
  width: 100% !important;
  position: static !important;
}

.banner-text {
  background-color: white;
  border-radius: 4px;
  color: #484848;
  font-size: 1em;
  padding: 36px;
  opacity: 0.8;
}

@media(max-width: 768px) {
  .banner-text {
    padding: 24px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
}

@media(max-width: 384px) {
  .banner-text {
    padding: 16px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
}

.banner-head-text {
  display: flex;
  align-items: center;
}

.banner-text p {
  opacity: 0.7;
}

